<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Plano:</strong> {{ plan }}<br>
  <strong>Valor:</strong> {{ price }}<br>
  <strong>Encerramento:</strong> {{ endDate }}
</p>
